form {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}
p {
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 10px;
}

li:nth-of-type(odd) {
  background-color: rgb(243, 236, 236);
  border: none;
}

ul {
  margin-top: 20px;
}

.movie-list {
  border: 1px solid;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  margin: 5% auto;
}
